<p id="notice" style="margin-top: 5%; margin-left:5%;"><%= notice %></p>
<h1 style="margin-left: 5%;font-size: 24px">Showing <%= @professional %> </h1>
<div style=" margin-top: 10px; margin-left: 6%">
  <p style=" margin-bottom: 20px;">
    <strong >Name:</strong>
    <%= @professional.name %>
  </p>

  <p style=" margin-bottom: 20px;">
    <strong >Surname:</strong>
    <%= @professional.surname %>
  </p>

  <%= link_to 'Appointments', professional_appointments_path(@professional), class: "button is-danger" ,style: "float: left;" %>
  <% if loggedUserHasRole?("administracion") %>
    <%= link_to 'Edit', edit_professional_path(@professional), class: "button is-danger" ,style: "float: left; margin-left: 10px"%>
  <% end %>
  <%= link_to 'Back', professionals_path, class: "button is-danger" ,style: "float: left; margin-left: 10px" %>
</div>
