<div style="margin-left: 6%">
  <%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %> !!</li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field column is-4">
      <%= form.label :username, class: "label" %>
      <%= form.text_field :username, class: "input" %>
    </div>

    <div class="field column is-4">
      <%= form.label :password, class: "label" %>
      <%= form.password_field :password, class: "input" %>
    </div>

    <div class="field column is-4">
      <%= form.label :password_confirmation, class: "label"  %>
      <%= form.password_field :password_confirmation, class: "input" %>
    </div>

    <div class="field column is-4">
      <%= form.label :role, class: "label"  %>
      <span class="select">
      <%= form.select :role_id, Role.all.map{ |r| [r.name, r.id, {:name => r.name.capitalize}] }, {},{ class: "input"} %>
      <span>
    </div>

    <div class="actions">
      <%= form.submit class: "button is-danger",style: "float: left; margin-left: 10px" %>
    </div>
  <% end %>
</div>